<div class="container container-form">
    <h2>{{ produto.id ? 'Editar Produto' : 'Adicionar Produto' }}</h2>
    <form (ngSubmit)="salvarProduto()" #produtoForm="ngForm">
      <div class="form-group">
        <label for="nome">Nome do Produto</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="produto.nome" name="nome" required>
      </div>
      <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" [(ngModel)]="produto.quantidade" 
        name="quantidade" required>
      </div>
      <div class="form-group">
        <label for="preco">Preço</label>
        <input type="number" class="form-control" id="preco" [(ngModel)]="produto.preco" name="preco" required>
      </div>
      <button type="submit" class="btn btn-success mt-3" [disabled]="!produtoForm.form.valid">Salvar</button>
    </form>
  </div>
  